@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

:root {
    --fonte1: 'Passion One', cursive;
    --fonte2: 'Sriracha', cursive;
    --fonte3: Arial, Helvetica, sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html, body {
    font-family: var(--fonte3);
    text-align: left;

    min-height: 100vh;
    background-color: darkgray;
}

/* HEADER */
header {

    background-color: black;
    color: white;   

    padding: 50px 0px;
}

header > h1 {
    font: normal small-caps 700 10vw var(--fonte1), sans-serif;
    text-align: center;

    margin: 15px;
}

header > h2 {
    font: normal 400 1em var(--fonte3), sans-serif;
    text-align: center;
}

header > h2 > a{
    text-decoration: none;

    font-weight: bold;
    color: white;
}

header > h2 > a:hover{
    text-decoration: underline;
}

/* MAIN */
main {
    background-color: white;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}

section {
    padding: 10vh 0px;
    padding-left: 30px;

    font:normal 400 4vw var(--fonte2);
    line-height: 2em;   
}

.section-normal {
    background-color: white;

}

section#img001 {
    background-image: url(img/background001.jpg);
}

section#img002 {
    background-image: url(img/background002.jpg);
}

.section-image{
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;

    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.65);
}


.section-image > p {
    display: inline-block;

    font:normal 400 65% var(--fonte2);    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.55);
    color: white;

    background-color: rgba(0, 0, 0, 0.45);
    width: 50vw;
    padding: 30px;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    font-size: 0.7em;

    margin-top: 40px;
    padding: 10px;

    text-align: center;
}

footer > h3 > a{
    text-decoration: none;

    font-weight: bolder;
    color: white;
}

footer > h3 > a:hover{
    text-decoration: underline;
}